<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <!-- <link rel="stylesheet" href="home.css"> -->
  <link rel="stylesheet" href="output.css">
</head>
<body>
    <main class="container mx-auto bg-white shadow-lg rounded-lg p-8 mt-10 max-w-xl">
      <h2 class="text-3xl text-red-500 font-bold text-center mb-6">
        Here are our registered homes:
      </h2>
      <ul class="space-y-4">
      <% registeredHomes.map((home)=>{ %>
       
        <li>
          <%= home.houseName %>
        </li>

     <% }) %>
      </ul>
    </main>
</body>
</html>